/* ballpark common */

div#header {
    margin: 0;
    font-size: 14pt;
    color: black;
    font-family: Impact;
    text-align: center;
}
div#footer {
    margin: 0;
    font-size: 6pt;
    color: black;
    font-family: Impact;
    text-align: center;
}
div#rate {
    margin: 0;
    text-align: center;
    color: #000000;
    font-size: 8pt;
}

/* rdcsever menu table */

table.rdcservers {  
    width: 400px;
    margin: 0 auto;
    border-spacing: 1;
    font-size: 8pt;
    border: 1px solid #87b6d8;  
}  

table.rdcservers th{
    background-color: #3294d3;  
    color: white;
    font-size: 8pt;
}
      
table.rdcservers tr {  
    border: solid 1px #87b6d8;  
}  
      
table.rdcservers td {  
    background-color: white;
    padding: 1px;
    color: black;
    text-align: center;
    font-size: 8pt;
    border: solid 1px #87b6d8;
}  
      
/* result table */

table.result_tbl {
    width: 580px;
    margin: 8px auto;  
    background-color: #ffffff;
    border-collapse: separate;
    font-family: sans-serif;
    font-size: 8pt;
}
table.result_tbl td.title{
    background-color: #3294d3;  
    color: white;
    font-size: 8pt;
}
table.result_tbl th{
    background-color: #87b6d8;  
    color: white;
    font-size: 8pt;
}
table.result_tbl tr{
    border: solid 1px #87b6d8;  
    text-align: center;
    font-size: 8pt;
}
table.result_tbl td{
    background-color: white;
    text-align: center;
    padding: 1px;
    color : black;
    font-size: 8pt;
    border: solid 1px #87b6d8;
}
