div#header, div#footer {
    margin: 0;
    background-color: #fff;
    font-color: #000080;
    font-size: 6pt;
}
div#ballpark {
    margin: 0;
    text-align: center;
    font-size: 18pt;
    font-family: Impact;
}
div#rate {
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    font-size: 8pt;
}
table.rdcservers {  
    width: 400px;  
    margin: 5px auto;  
    background-color: #eee;  
    border-collapse: collapse;
    border-spacing: 1;
    font-size: 8pt;
}  
      
table.rdcservers tr {  
      border: solid 1px #11111111;  
}  
      
table.rdcservers td {  
      padding: 5px;
}  
      
table.rdcservers col.type {
      background-color: #ccc;  
}  
table.rdcservers col.spec {
      background-color: #ddd;  
}  
table.rdcservers col.cost1 {  
      background-color: #ccc;  
}  
table.rdcservers col.cost2 {  
      background-color: #ddd;  
}  
table.result_tbl {
    width: 500px;
    margin: 8px auto;  
    border: solid 1px #111111;
    background-color: #c0c0c0;
    border-collapse: separate;
    font-family: sans-serif;
    font-size: 8pt;
}
table.result_tbl td.title{
    background-color: #696969;  
    font-size: 14;
    font-family: sans-serif;
    color: white;
}
table.result_tbl th{
    background-color: #808080;  
    border-collapse: separate;
    border-spacing: 1;  
    color: white;
    font-size: 8pt;
}
table.result_tbl tr{
    border: solid 1px #ffffff;  
    text-align: center;
    font-size: 8pt;
}
table.result_tbl td{
    text-align: center;
    font-size: 8pt;
}
